body{
    background-image: url("https://images.unsplash.com/photo-1611506483592-e50c7ab07fc7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1534&q=80")
}
.text-white:hover{
color:rgb(57, 12, 219);
}

.col-3{
    background-color:rgb(3, 30, 48);
    

}
.col-3 {
   
    flex: 20 10 20%;
    max-width: 50%;

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 2.2;
    font-family:'Impact', 'Haettenschweiler', 'Arial Narrow Bold', 'sans-serif';
}
.h3, h3 {
    font-size: 2.75rem;
}

.navbar{
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline;
  }
  li {
    float: left;
  }
  
  a {
    display: block;
    padding: 8px;
    background-color: #d2d2d8;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(240, 221, 215, 0.735);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: rgb(12, 4, 4);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
  }
  

  li a:hover {
    background-color: rgba(31, 101, 206, 0.479);
  }

  li {
    border-right: 1px solid #bbb;
  }
  
  li:last-child {
    border-right: none;
  }